# Created by venv; see https://docs.python.org/3/library/venv.html

# вирт окружение
venv/
env/
Include/
Lib/
Scripts/
pyvenv.cfg

# кэш
__pycache__/
*.pyc
*.pyo
*.pyd

# прочеееееее
*.log
*.sqlite3
.DS_Store